*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
    margin: 0;
}

a {
  text-decoration: none;
}

.link {
    color: #ffffff;
}

ul {
    list-style: none;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    margin: 0;
}

h3 {
    color: #333333;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

h4 {
    color: #333333;
    font-family: "Kaushan Script";
    font-size: 24px;
    font-weight: 400;
}

h5 {
    color: #333333;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

h6 {
    color: #999999;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

h3:after {
    content: '';
    display: block;
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    transform: translateX(-50%);
    left: 50%;
    right: 0;
    bottom: 0;
}

.name {
    color: #333333;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
}

.position {
    color: #999999;
    font-family: "Roboto - Light Italic";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    padding-top: 15px;
}

.page-wrapper {
    position: relative;
}

.page-header {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 2;
    width: 100%;
}

.page-1 {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    margin-top: 25px;
    margin-right: 260px;
    color: #ffffff;
}

.menu, 
.icon-menu {
    display: flex;
    margin-top: 40px;
}

.main-nav {
    display: flex;
    margin-left: 260px;
}

.icon-menu li {
    padding-right: 42px;
}

.menu li {
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    padding-right: 38px;
} 

.menu .link:hover {
    padding-bottom: 12px;
    color: #f6c888;
    border-bottom: 1px #f6c888 solid;
}

.banner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
    padding: 70px 0 0 0;
    background-size: cover;
    color: #ffffff;
    text-align: center;
}

.banner:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(243,129,129,0.9) 0%,rgba(252,227,138,0.9) 100%);
}

.content {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    max-width: 100%;
}

.creative-text {
    margin-top: 155px;
    margin-bottom: 35px;
    font-family: "Kaushan Script";
    font-size: 72px;
    font-weight: 400;
}

.main-text {
    margin: 0 558px 57px 560px;
    font-size: 150px;
    font-weight: 700;
    line-height: 140px;
    font-family: Montserrat;
    text-transform: uppercase;
    text-align: center;
}

.white-underline:after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #ffffff;
    margin-bottom: 50px;
}

.button {
    z-index: 2;
    padding: 10px 32px 10px 33px;
    border: solid 2px #ffffff;
    margin-bottom: 230px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.content-services {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}

.title-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 144px;
    position: relative;
    padding-bottom: 38px;
    z-index: 7;
}

.grid-services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 67px 350px 90px 370px;
}

.block-line {
    position: relative;
}

.service {
    width: calc(33.33% - 34px);
    display: flex;
    align-content: space-between;
    padding-bottom: 80px;
}

i + div {
    margin-left: 27px;
}

h5 + h6 {
    margin-top: 20px;
    margin-bottom: 0;
    text-align: justify;
}

.service:nth-child(3n):not(:last-child):after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
    margin-top: 54px;
    margin-bottom: 49px;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
}

.title-block h3:last-child {
    margin-top: 17px;
}

.facts {
    display: flex;
    justify-content: center;
    color: #ffffff;
    background-color: #95e1d3;
    text-align: center;
    padding-left: 350px;
    padding-right: 350px;
}

.fact-block {
    border-color: #a5e5da;
    border-left-style: solid;
    border-width: 0 2px;
    width: calc(100% / 5);
    max-width: 100%;
} 

.numbers + .fact-text {
    padding-bottom: 70px;
}

.fact-block:last-child {
    border-right-style: solid;
}

.fact-block .numbers {
    font-family: Montserrat;
    font-size: 72px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding-top: 71px;
    padding-bottom: 0;
}

.our_team {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}

.common-block-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.heading-block-1 {
    margin-top: 46px;
    text-align: center;
}

.common-block-1 .title-block {
    margin-top:  102px;
}

.common-block-1 .heading-block-1 {
    margin-bottom: 109px;
}

.stuff-wrapper {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 117px;
}

.stuff-block {
    display: flex;
    flex-direction: column;
    width: calc(33.333% - 30px);
}

.stuff {
    position: relative;
    min-width: 100%;
    margin-bottom: 23px;
}

.social-icons {
    display: none;
    position: absolute;
    transform: translateX(-50%);
    height: 56px;
    width: 224px;
    background-color: #fce38a;
    text-align: center;
    left: 50%;
    right: 0;
    bottom: 0;
    top: 40%;
    padding-left: 0;
}

.icon-item {
    max-width: 25%;
    padding: 20px 20px 15px 20px;
    border-color: #f38181;
    border-left-style: solid;
    border-width: 0 1px;
}

.icon-item:first-child {
    border-width: 0;
}

.stuff:hover .social-icons {
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.icon-item:hover {
    background: #f38181;
}

.icon-item:hover [class|='icon']:before {
    color: #ffffff;
}

.stuff:hover:after {
    content: '';
    position: absolute;
    top: 0;
    right: -31px;
    bottom: 4px;
    left: 0;
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px 0 0 #95e1d3;
    background: linear-gradient(to bottom, rgba(243,129,129,0.9) 0%,rgba(252,227,138,0.9) 100%);
}

i + p {
    padding: 0;
}

.partners {
    background-color: #f8f8f8;
}

.partners-block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 51px 259px 50px 373px;
    max-width: 100%;
}

.partners-logo {
    width: calc(100% / 6);
}

.image-grid {
    display: flex;
}

.image-block {
    display: block;
    position: relative;
}

.common-block-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.heading-block-2 {
    margin-top: 46px;
    text-align: center;
}

.common-block-2 .title-block {
    margin-top: 114px;
}

.common-block-2 .heading-block-2 {
    margin-bottom: 116px;
}

.image-block img {
    vertical-align: top;
    max-width: 100%;
}

.image-description {
    display: none;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    left: 50%;
    right: 0;
    bottom: 0;
    top: 50%;
}

.image-block:hover .image-description {
    display: flex;
    flex-direction: column;
    align-content: center;
    z-index: 2;
}

.image-block:hover:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(243,129,129,0.9) 0%,rgba(252,227,138,0.9) 100%);
}

.image-description .name {
    color: #ffffff;
    padding-top: 20px;
}

.image-description .position {
    color: #ffffff;
}

.quote-block {
    background-color: #ffffff;
}

.qoute {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 475px 130px 440px;
    max-width: 100%;
}

blockquote {
    margin: 0 0 0 30px;
}

.blockquote-block .position {
    font-size: 24px;
    line-height: 36px;
    padding-top: 25px;
}

.dash-style {
    color: #333333;
    font-family: "Kaushan Script";
    font-size: 24px;
    font-weight: 400;
}

.dash {
    position: relative;
}

.dash-left {
    padding-left: 70px;
}

.dash-left:before {
    left: 4%;
    right: 0;
    bottom: 40%;
}

.dash:before {
    content: '';
    display: block;
    position: absolute;
    width: 8%;
    height: 3px;
    background-color: #f38181;
    transform: translateX(-50%);
}

.dash-top {
    padding-top: 20px;
}

.dash-top:before {
    left: 10%;
    right: 0;
    top: 0;
    width: 20%;
}

.reviews-block {
    position: relative;
}

.reviews {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-size: cover;
}

.reviews:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.7);
}

.customers-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 6;
    margin: 96px 416px 46px 400px;
    max-width: 100%;
}

.common-block-3 .title-block{
    margin-top: 104px;
}

.customer {
    width: calc(50% - 60px);
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;
}

.customer .description {
    margin-left: 30px;
}

.customer .position {
    padding-bottom: 20px;
}

.blog-block {
    background-color: #ffffff;
}

.blog-block .title-block {
    margin-top: 106px;

}

.stories-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 47px 360px 69px 350px;
    max-width: 100%;
}

.story {
    width: calc(33.333% - 30px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.user-actions {
    display: flex;
    padding-left: 0;
}

.user-action {
    display: flex;
    justify-content: space-between;
}

.action-icon {
    display: flex;
    align-items: center;
}

.user-action > .position {
    padding-top: 0;
}

.user-action:first-child .action-icon {
    padding-right: 7px;
}

.user-action:last-child .action-icon {
    padding-right: 4px;
}

.user-action:last-child {
    margin-left: 19px;
}

.user-actions:last-child .user-action:last-child {
    margin-left: 11px;
}

.img-story {
    vertical-align: top;
    max-width: 100%;
    padding-right: 2px;
    padding-bottom: 2px;
}

.img-block {
    position: relative;
    margin-bottom: 20px;
}

.block-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 70px;
    background-color: #95e1d3;
    position: absolute;
    right: 85%;
    bottom: 2%;
}

.month,
.date {
    margin: 0;
}

.block-date .date {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.block-date .month {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    font-family: "Roboto Light";
    font-weight: 300;
}

.story-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 27px;
}

.story:after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: #e5e5e5;
    position: absolute;
    bottom: 10%;
}

.page-footer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8f8;
}

.logo-footer .link-logo {
    color: #cccccc;
font-family: Montserrat;
font-size: 46px;
font-weight: 700;
}

.footer-block {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;
    padding-top: 56px;
    padding-bottom: 66px;
}

.followers-block {
    display: flex;
    flex-direction: column;
    margin-top: 49px;
}

.followers {
    margin: 0;
    font-family: "Montserrat - Regular";
    font-weight: 400;
    color: #333333;
    font-size: 14px;
    
}

.followers span {
    font-family: "Montserrat - Bold";
    font-size: 18px;
    font-weight: 700;
    color: #333333;
}

.followers-block:after {
    content: '';
    display: block;
    height: 1px;
    background-color: #e5e5e5;
    margin-top: 10px;
    margin-bottom: 10px;
}

.follow-style {
    color: #999999;
    font-family: "Roboto - Light Italic";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
}

.follow {
    display: flex;
    align-items: center;
    margin-bottom: 39px;
}

.social-networks {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}

.icon-networks {
    padding-right: 15px;
}

.information-block {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-right: 49px;
    width: 24%;
}

.email-block {
    display: flex;
}

.email-block .email {
    color: #cccccc;
    font-family: "Roboto - Light Italic";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    padding: 4px 34px 4px 13px;
}

.button-submit {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    padding: 4px 34px 4px 34px;
    text-transform: uppercase;
    background-color: #95e1d3;
    border: 1px solid #95e1d3;
}

.footer-block:after {
    content: '';
    display: block;
    width: 63%;
    height: 1px;
    background-color: #e5e5e5;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.footer-blog {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-content: space-between;
    margin-right: 86px;
    width: 17%;
    padding-top: 10px;
}

.description-article {
    padding-left: 10px;
}

.articles-block {
    margin-top: 40px;
}

.article {
    display: flex;
    justify-content: space-between;
}

.style-article {
    margin: 0;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
}

time {
    margin: 0;
    color: #999999;
    font-family: "Roboto - Light Italic";
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

.instagram-block {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 14%;
    padding-top: 10px;
}

.instagram {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
}

.information-block .logo-footer {
    color: #cccccc;
    font-family: Montserrat;
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 28px;
}

.img-instagram {
    width: calc(33.33% - 2px);
}

.author-style {
    color: #333333;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
}

.author-style span {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    color: #f38181;
}

#menu_toggle {
    opacity: 0;
}



@media (max-width: 1199px) {
    .menu {
		display: block;
		position: fixed;
		visibility: hidden;
		top: 0;
		right: -100%;
		width: 300px;
		height: 100%;
		margin: 0;
		padding: 80px 0;
		list-style: none;
		text-align: center;
		background-color: #ef8f89;
		box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    }
    
    .title-block,
    .button,
    .content {
        z-index: 1;
    }
	 
	#menu_toggle {
		opacity: 0;
    }
	
	.menu_btn {
		display: flex;
		align-items: center;
		position: fixed;
		top: 25px;
		right: 20px;
		width: 26px;
		height: 26px;
		cursor: pointer;
		z-index: 3;
	}
	
	.menu_btn > span,
	.menu_btn > span::before,
	.menu_btn > span::after {
	  display: block;
	  position: absolute;
	  width: 100%;
	  height: 2px;
	  background-color: #e6cf82;
	}
	
	.menu__box {
		display: block;
		position: fixed;
		visibility: hidden;
		top: 0;
		left: -100%;
		width: 300px;
		height: 100%;
		margin: 0;
		padding: 80px 0;
		list-style: none;
		text-align: center;
		background-color: #ECEFF1;
		box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
	}
	  
	.menu_btn > span::before {
	  content: '';
	  top: -8px;
	}
	.menu_btn > span::after {
	  content: '';
	  top: 8px;
	}
	
	#menu_toggle:checked ~ .menu_btn > span {
		transform: rotate(45deg);
	}
	  
	#menu_toggle:checked ~ .menu_btn > span::before {
		top: 0;
		transform: rotate(0);
	}
	  
	#menu_toggle:checked ~ .menu_btn > span::after {
		top: 0;
		transform: rotate(90deg);
	}
	  
	#menu_toggle:checked ~ .menu {
		visibility: visible;
        right: 0;
    }
	
	.hamburger-menu {
		z-index: 2;
	}
	
	.menu_btn > span,
	.menu_btn > span::before,
	.menu_btn > span::after {
	  transition-duration: .25s;
	}
	.menu {
	  transition-duration: .25s;
	}
	a {
	  transition-duration: .25s;
	}
	
	.menu li {
		margin: 10px;
	}
	
	.menu a {
		display: block;
		padding: 12px 24px;
		color: #333;
		font-family: 'Roboto', sans-serif;
		font-size: 20px;
		font-weight: 600;
		text-decoration: none;
	}
	
	.menu a:hover {
		background-color: #CFD8DC;
    }
        
    .menu, 
    .icon-menu {
        margin-top: 15px;
        margin-right: 5px;
    }

    /* бургер меню */

    h3 {
        font-size: 20px;
    }

    .page-1 {
        align-items: flex-start;
        width: 100%;
    }

    .logo {
        margin: 0;
        margin-top: 15px;
        margin-left: 15px;
    }

    .creative-text {
        font-size: 34px;
        margin-bottom: 0;
    }

    .main-nav {
        margin: 0;
        flex-direction: column;
    }

    .menu {
        flex-direction: column;
        margin-top: 15px;
    }

    .main-text {
        margin: 0;
        font-size: 25px;
    }

    .facts {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .fact-block {
        border-left-style: none;
    }

    .fact-block:last-child {
        border-right-style: none;
    }

    .stuff-wrapper {
        flex-direction: column;
    }

    .grid-services {
        margin: 0;
        flex-direction: column;
        align-content: center;
    }

    .stuff-block {
        width: auto;
    }

    .photo {
        max-width: 100%;
        padding: 15px;
    }

    .partners-block {
        flex-direction: column;
        padding: 0;
    }

    .qoute {
        flex-direction: column;
        align-items: center;
        padding: 0;
        padding-top: 50px;
    }

    .customers-block {
        flex-direction: column;
        margin: 96px 0 46px 0;
    }

    .customer {
        width: auto;
    }

    .stories-block {
        margin: 47px 0 69px 0;
        flex-direction: column;
        align-items: flex-start;
    }

    .story {
        width: auto;
        padding: 10px;
    }

    .service:nth-child(3n):not(:last-child):after {
        display: none;
    }

    .service {
        width: auto;
        padding: 20px;
    }

    .partners-logo {
        width: auto;
    }

    .footer-block {
        flex-direction: column;
        align-items: center;
    }

    .information-block {
        width: auto;
        max-width: 100%;
        padding: 20px;
        margin-right: 0;
    }

    .follow {
        flex-direction: column;
    }

    .email-block {
        flex-direction: column;
    }

    .footer-blog {
        width: auto;
        max-width: 100%;
        padding: 20px;
        margin-right: 0;
    }

    .instagram-block {
        width: auto;
        align-items: center;
    }

    .img-instagram {
         width: auto;
    }

    .instagram {
        padding-left: 30px;
    }

    .author-style {
        font-size: 11px;
    }
    .author-style span {
        font-size: inherit;
    }


    .stuff:hover:after {
        content: '';
        position: absolute;
        top: 0;
        right: 15px;
        bottom: 19px;
        left: 10px;
        transform: translate(-5px, -5px);
        box-shadow: 5px 5px 0 0 #95e1d3;
        background: linear-gradient(to bottom, rgba(243,129,129,0.9) 0%,rgba(252,227,138,0.9) 100%);
    }

}
