@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot');
  src:  url('fonts/icomoon.eot') format('embedded-opentype'),
    url('fonts/icomoon.ttf') format('truetype'),
    url('fonts/icomoon.woff') format('woff'),
    url('fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-OK:before {
  content: "\e900";
  color: #95e1d3;
}
.icon-SHOPPING_CART:before {
  content: "\e901";
  color: #fff;
}
.icon-ALARM:before {
  content: "\e902";
  color: #95e1d3;
}
.icon-BOOK_2:before {
  content: "\e903";
  color: #95e1d3;
}
.icon-dribbble:before {
  content: "\e904";
  color: #95e1d3;
}
.icon-facebook:before {
  content: "\e905";
  color: #f38181;
}
.icon-facebook-1:before {
  content: "\e905";
  color: #95e1d3;
}
.icon-google_plus:before {
  content: "\e906";
  color: #95e1d3;
}
.icon-HOME:before {
  content: "\e907";
  color: #95e1d3;
}
.icon-IMAGE:before {
  content: "\e908";
  color: #95e1d3;
}
.icon-instagram:before {
  content: "\e909";
  color: #f38181;
}
.icon-instagram-1:before {
  content: "\e90a";
  color: #95e1d3;
}
.icon-LINE_GRAPH:before {
  content: "\e90b";
  color: #95e1d3;
}
.icon-MAGNIFYING_GLASS:before {
  content: "\e90c";
  color: #fff;
}
.icon-PICTURE:before {
  content: "\e90d";
  color: #fff;
}
.icon-pinterest:before {
  content: "\e90e";
  color: #f38181;
}
.icon-pinterest-1:before {
  content: "\e90f";
  color: #95e1d3;
}
.icon-SPEECH_BUBBLE_2:before {
  content: "\e910";
  color: #95e1d3;
}
.icon-tumblr:before {
  content: "\e911";
  color: #95e1d3;
}
.icon-twitter:before {
  content: "\e912";
  color: #f38181;
}
.icon-twitter-1:before {
  content: "\e913";
  color: #95e1d3;
}
.icon-VIEW:before {
  content: "\e914";
  color: #95e1d3;
}
.icon-youtube:before {
  content: "\e915";
  color: #95e1d3;
}
